<mat-card>
    <mat-card-title>
        Novo Usuário
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" required 
            [(ngModel)]="user.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" required
            [(ngModel)]="user.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" required
            [(ngModel)]="user.telefone" name="telefone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade" required type="number"
            [(ngModel)]="user.idade" name="idade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Qual seu Gênero?" [(ngModel)]="user.gen" name="gen" list="gen" required/>
            <datalist id="gen">
                <option>Masculino </option>
                <option>Feminino</option>
                <option>Prefiro não dizer</option>
                <option>Outro (Escreva aqui)</option>
            </datalist>
        </mat-form-field>
    </form>
    <button type="submit" mat-raised-button (click)="createUser()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancelCreateUser()">
        Cancelar
    </button>
</mat-card>


