<div class="container">
    <div class="header">
        <h1>
            Deletar Usuário
        </h1>
    </div>
    <form>
        <label for="nome'">Nome</label>
        <input [(ngModel)]="user.nome" name="nome" type="text" id="nome" disabled>
        <label for="email">Email</label>
        <input [(ngModel)]="user.email" name="email" type="email" id="email" disabled>
        <label for="phone">Telefone</label>
        <input [(ngModel)]="user.telefone" name="telefone" type="string" id="phone" disabled>
        <label for="idade">Idade</label>
        <input [(ngModel)]="user.idade" name="idade" type="number" id="idade" disabled>
        <label for="gen">Gênero</label>
        <input [(ngModel)]="user.gen" name="gen" type="text" id="gen" list="gen" disabled>
        <datalist id="gen">
            <option>Masculino </option>
            <option>Feminino</option>
            <option>Prefiro não dizer</option>
            <option>Outro (Escreva aqui)</option>
        </datalist>
    </form>
    <div class="btn-footer">
        <button class="btn-footer-save" type="submit" (click)="deleteUser()">
            Confirmar
        </button>
        <button class="btn-footer-cancel" (click)="cancelDeleteuser()">
            Cancelar
        </button>
    </div>
</div>

